#title{
  text-align: center;
}
nav > table{
  border: 3px solid #00020f;
  padding: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  width: 90%;
  text-align: center;
}
a{
  color:white;
}
nav table tr td{
  box-sizing: border-box;
  width: 45%;
  padding: 20px;
}
body{
  background: #05021c url("imgs/black.png");
  color: white;
  font-family:monaco,optima,mono-space;
  padding: 50px;
}
aside{
  float:right;
  width: 40%;
}
#articleTwo{
  float: left;
  width: 60%;
}
aside iframe{
  margin-bottom: 0;
  box-sizing: content-box;
  width: 90%;
}
aside h6{
  margin-top: 0;
  box-sizing: content-box;
  width: 90%;
}
#availabilityLink{
  background: #421c06 url("imgs/orange.png");
}
#tasteLink{
  background: #380404 url("imgs/red.png");
}
#residueLink{
  background: #0c2602 url("imgs/green.png");
}
#conclusionLink{
  background: #03102b url("imgs/blue.png");
}