#title{
  text-align: center;
}
div#toc > table{
  border: 3px solid #00020f;
  padding: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  width: 90%;
  text-align: center;
}
a{
  color:white;
}
#toc table tr td{
  box-sizing: border-box;
  width: 45%;
  padding: 20px;
}
body{
  background: #05021c url("imgs/black.png");
  color: white;
  font-family:monaco,optima,mono-space;
  padding: 50px;
}
#availabilityLink{
  background: #421c06 url("imgs/orange.png");
}
#tasteLink{
  background: #380404 url("imgs/red.png");
}
#residueLink{
  background: #0c2602 url("imgs/green.png");
}
#conclusionLink{
  background: #03102b url("imgs/blue.png");
}