@font-face{
  font-family: 'monqco';
  src: url("DroidSansMono.ttf");
}
body, a{
  background: #05021c url("imgs/black.png");
  color: white;
  font-family:monqco,optima,mono-space;
}
h1{
  color: orange;
}
table{
  margin-bottom: 20px;
}
td{
  border: 1px solid black;
}
td.yes{
  background-color: #3d943d;
}
td.no{
  background-color: #aa4646;
}
#outcome{
  margin: 10px 0 0 0;
}
#outcome>td.yes{
  background-color: #09c809;
}
#outcome>td.no{
  background-color: #e01010;
}
#groceryJaden{
  height: 30%;
  width: 30%;
  float: right;
}
#dataTable{
  box-sizing: margin-box;
  width: 67%;
  overflow: auto;
}
#cafeteria{
  width: 30%;
  height: 30%;
  margin: 5px auto;
  clear: right;
  float: right;
}
nav{
  position: absolute;
  bottom-left: 0px;
}

#card{
  box-sizing: border-box;
  width: 180px;
  height: 60px;
  background-color: rgba(225,225,225,0.1);
  padding: 0 20px;
  transition: all .7s;
  transition-delay: .3s;
  overflow: hidden;
  position: relative;
}
#card:hover{
  display: block;
  width: 800px;
  height: 200px;
  padding: 20px;
}
#card:hover>*:not(h3){
  display: block; 
}
#card h3{
  display: inline-block;
}
#card:hover h3{
  color: orange;
}
.facebook{
  width: 40px;
  height: 40px;
  background-image: url("imgs/socmedSprites.jpg");
  background-size: 422px 422px;
  display: inline-block;
  position: absolute;
  right: 70px;
}
.instagram{
  width: 40px;
  height: 40px;
  background-image: url("imgs/socmedSprites.jpg");
  background-size: 422px 422px;
  background-position: 0 -43px;
  display: inline-block;
  position: absolute;
  right: 25px;
}

#cardHansel{
  width: 60%;
  display: none;
  background-color: rgba(225,225,225,0.1);
  padding: 20px;
}
#cardHansel h3{
  display: inline-block;
}
#liHansel:hover #cardHansel{
  display: block;
}
#liHansel:hover>p{
  color: orange;
}
#cardHanselFacebook{
  width: 40px;
  height: 40px;
  background-image: url("imgs/socmedSprites.jpg");
  background-size: 422px 422px;
  display: inline-block;
  position: absolute;
  right: 38%;
}