@font-face{
  font-family: 'monqco';
  src: url("DroidSansMono.ttf");
}
body, a{
  background: #05021c url("imgs/black.png");
  color: white;
  font-family:monqco,optima,mono-space;
}

h1{
  color: green;
}
table{
  margin-bottom: 20px;
}
img{
  height: 40px;
}
td{
  border: 1px solid black;
}
td.yes{
  background-color: #52ff52;
}
td.no{
  background-color: #ff4747;
}
#outcome{
  margin: 10px 0 0 0;
}
#outcome>td.yes{
  background-color: #09c809;
}
#outcome>td.no{
  background-color: #e01010;
}
