@font-face{
  font-family: 'monqco';
  src: url("../DroidSansMono.ttf");
}
body{
  background: #05021c url("../imgs/black.png");
  color: white;
  font-family:monqco,optima,mono-space;
  padding: 50px;
}
#title{
  text-align: center;
}
#disclaimer{
  color: #ff5d52;
}
/*table of contents start*/
nav>div{
  border: 3px solid #00020f;
  padding: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  width: 90%;
  text-align: center;
  display: block;
}
h5{
  text-align: center;
  vertical-align: center;
}
#Availability div{
  box-sizing: border-box;
  margin: 0;
  width: 48%;
  height: 60px;
  display: inline-block;
  position: flex;
  justify-content: center;
  background: #421c06 url("../imgs/orange.png");
}
#Taste div{
  box-sizing: border-box;
  margin: 0;
  width: 48%;
  height: 60px;
  display: inline-block;
  position: flex;
  justify-content: center;
  background: #380404 url("../imgs/red.png");
}
#Residue div{
  box-sizing: border-box;
  margin: 0;
  width: 48%;
  height: 60px;
  display: inline-block;
  position: flex;
  justify-content: center;
  background: #0c2602 url("../imgs/green.png");
}
#Conclusion div{
  box-sizing: border-box;
  margin: 0;
  width: 48%;
  height: 60px;
  display: inline-block;
  position: flex;
  justify-content: center;
  background: #03102b url("../imgs/blue.png");
}
nav>div a:hover div{
  border: 3px solid #00020f;
}
a{
  color:white;
  text-decoration: none;
}
a:visited{
  color: white;
}
/*table of contents end*/
aside{
  position: absolute;
  right: 0;
  width: 40%;
}
#articleTwo{
  position: relative;
  left: 0;
  width: 60%;
  margin-bottom: 45px;
}
aside iframe{
  margin-bottom: 0;
  box-sizing: content-box;
  width: 90%;
}
aside h6{
  margin-top: 0;
  box-sizing: content-box;
  width: 90%;
}

/*https://www.urc.com.ph/products/philippines/ph-jack-n-jill?ref=home_products
https://www.rebisco.com.ph/
https://www.oreo.com/
https://mondenissin.com/
https://nutristateline.com/products-stateline/
https://www.gardenia.com.ph/

https://www.facebook.com/gardeniaph/
https://www.facebook.com/RebiscoOfficialPage/
https://www.facebook.com/JacknJillTreats/
https://www.facebook.com/groups/442957587156399/
https://www.facebook.com/Monde-Nissin-107208238083221/reviews/?ref=page_internal




cream o - jack n jill
hansel - rebisco
egg nog cookies - monde nissin
nissin wafer - monde nissin
oreo - oreo
butter coconut - monde nissin
bread stix - monde nissin
dewberry - jack n jill
loaded - stateline
buttered toast - gardenia*/